html{
    font-size:100%;
}
body{
	color:#333;
	background:#fff url(../pattern/body-bg14.png) repeat;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:300;
    font-size:100%;
    line-height:1.618;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Raleway', Georgia, cursive;}
h1, h2, h3, h4, h5, h6{
    font-weight:normal;
    margin:1em 0;
    color:#000;
}
h1{ font-size:2.0em;  /* 16 x 2.0   = 32 */ }
h2{ font-size:1.5em;  /* 16 x 1.5   = 24 */ }
h3{ font-size:1.125em;/* 16 x 1.125 = 18 */ }
h4{ font-size:1.0em;  /* 16 x 1     = 16 */ }
h5{ font-size:0.875em;/* 16 x 0.875 = 14 */ }
h6{ font-size:0.75em; /* 16 x 0.75  = 12 */ }

pre{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	white-space:pre;
	font-family:monospace;
	padding:1em;
	background:#f1f1f1;
	overflow:auto;
}
select{
	max-width:100%;
}
input[type=text], input[type=password],
textarea{
	font-size:1em;
	padding:.3em .5em;
	line-height:1.2em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
	border:1px solid #ccc;
	-moz-box-shadow:    inset 0 -1px 3px #ddd;
	-webkit-box-shadow: inset 0 -1px 3px #ddd;
	box-shadow:         inset 0 -1px 3px #ddd;
	color:#555;
	margin:0;
}
input[type=submit], input[type=button], input[type=reset]{
	border:none;
	font-size:1em;
	color:#fff;
	padding:.5em 1.5em;
	background-color: #333;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#333));
	background-image: -webkit-linear-gradient(top, #666, #333);
	background-image:    -moz-linear-gradient(top, #666, #333);
	background-image:     -ms-linear-gradient(top, #666, #333);
	background-image:      -o-linear-gradient(top, #666, #333);
	-moz-border-radius: 5em;
	-webkit-border-radius: 5em;
	border-radius:5em;
	cursor:pointer;
}

::-webkit-input-placeholder 
{ color:#aaa; font-family: 'Merriweather', Georgia, serif; font-size:.75em; }
input:-moz-placeholder
{ color:#aaa; font-family: 'Merriweather', Georgia, serif; font-size:.75em; }

form p{
	padding:.2em 0;
}

strong{ font-weight:700; }
small{ font-size:.75em; }
big{ font-size:1.2em; }

ul, ol{ padding:.5em 0; }
ul{
	margin-left: 20px; 
}
ol{
	margin-left: 20px; 
}
a{
	color:#859A7C;
    text-decoration:none;
}
a:link{ color:#859A7C; }
a:visited{ color:#6F5555; }
a:hover{ color:#556F6A;}
a:active{ color: #fc0; }

p:last-child{
    margin-bottom:0;
}

table{
	border:1px solid #ccc;
	margin:.5em 0;
}
th, td{
	padding:.3em .8em;
	border:1px solid #ccc;
}
th{
	font-weight:700;
	background:#f1f1f1;
}
dt{
	font-weight:700;
}
dd{
	padding-left:2em;
}
abbr, acronym{
	border-bottom:1px dashed #aaa;
	cursor:help;
}
sup, sub{
	font-size:.8em;
}
sup{ vertical-align:super; }
sub{ vertical-align:sub; }

em, q, cite{ font-style: italic; }

ins{ background:#f5f5f5; }

s{ text-decoration:line-through; }

header{
	background:#4e4e4e url(../pattern/body-bg.png) repeat;
	text-align:center;
	color:#fff;
	padding:1em .5em .5em;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius:5px 5px 0 0;
	-moz-box-shadow:    inset 0 -1px 3px #000;
	-webkit-box-shadow: inset 0 -1px 3px #000;
	box-shadow:         inset 0 -1px 3px #000;
}
header p{
	line-height:2em;
}
img{
    display:block;
	max-width:100%;
	height:auto;
}

.pane{
    padding:20px;
    margin-bottom:20px;
}
h3#reply-title,
.pane-title{
    padding:0 20px 20px;
    border-bottom:1px solid #eee;
    margin:0 -20px 20px;
}
.concavebox{
	-moz-box-shadow:    inset 0 0 3px #ccc;
	-webkit-box-shadow: inset 0 0 3px #ccc;
	box-shadow:         inset 0 0 3px #ccc;
    border-radius:5px;
	background:#fff;
}
.post{
    margin-bottom:20px;
}
.post .featured-img img{
    border-radius:5px 5px 0 0;
}
.entry-header{
    padding:20px 20px 0;
}
.entry-header h1{
    margin:0 0 20px;
}
.entry-header p.byline{
    text-transform:uppercase;
    color:#999;
}
.entry{
	padding:20px;
}
.entry p{
	margin-bottom:16px;
}
.entry p:last-child{
    padding-bottom:0;
}
.entry p:first-child{
    padding-top:0;
}
.entry-footer{
    padding:20px;
    border-top:1px solid #eee;
}


aside{
	clear:both;
	padding:1em 1.5em;
	background:#f5f5f5;
	-moz-box-shadow:    inset 0 -1px 3px #ccc;
	-webkit-box-shadow: inset 0 -1px 3px #ccc;
	box-shadow:         inset 0 -1px 3px #ccc;
}
aside section h4{
	border-bottom:1px dashed #aaa;
	line-height:1em;
	padding-top:.3em;
}
footer{
	padding:20px;
	color:#bbb;
	font-size:.8em;
	text-align:center;
	background:#4e4e4e url(../pattern/body-bg.png) repeat;
	-moz-box-shadow:    inset 0 -1px 3px #333;
	-webkit-box-shadow: inset 0 -1px 3px #333;
	box-shadow:         inset 0 -1px 3px #333;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	clear:both;
}
footer a:link,
footer a:visited,
footer a:hover,
footer a:active
{
	color:#fff;
	text-decoration:underline;
}

nav.pager{
	height:2.5em;
}
nav.pager .wp-pagenavi,
nav.pager ul{
	list-style:none;
	margin:0;
	padding:0 1em;
	text-indent:0;
	height:2.5em;
}
nav.pager .nav-prev,
nav.pager .wp-pagenavi span,
nav.pager .wp-pagenavi a,
nav.pager ul li{
	float:left;
}
nav.pager .nav-next{
	float:right;
}
nav.pager .nav-next a,
nav.pager .nav-prev a,
nav.pager .wp-pagenavi span,
nav.pager .wp-pagenavi a,
nav.pager ul li a{
	display:block;
	line-height:2.5em;
	padding:0 .9em;
}
nav.pager .nav-next a:hover,
nav.pager .nav-prev a:hover,
nav.pager .wp-pagenavi span.current,
nav.pager ul li.active a,
nav.pager ul li a:hover{
	background:#4e4e4e;
	color:#fff;
}

#nav nav{
	background:#4e4e4e url(../pattern/body-bg.png) repeat;
	width:100%;
	margin:0 auto 20px;
	-moz-border-radius:0 0 5px 5px ;
	-webkit-border-radius:0 0 5px 5px ;
	border-radius:0 0 5px 5px ;

	-moz-box-shadow:    inset 0 -1px 3px #000;
	-webkit-box-shadow: inset 0 -1px 3px #000;
	box-shadow:         inset 0 -1px 3px #000;
	height:45px;
}
#nav nav ul{
	margin:0;
	padding:0 1em;
	text-indent:0;
	position:absolute;
	right:0;top:0;
	max-width:70%;
	height:45px;
	overflow:hidden;
}
#nav nav ul li{
	float:right;
	list-style:none;
	padding:0;
}
#nav nav ul li a{
	line-height:45px;
	padding:0 0.8em;
	display:block;
	text-decoration:none;
}
#nav nav ul li a:link{
	color:#fff;
}
#nav nav ul li a:visited{ color: #eee; }
#nav nav ul li.current-menu-item a,
#nav nav ul li a:hover{ color: #000; background:#fff; }
#nav nav ul li a:active{ color: #f5f5f5; }
#nav nav ul li ul{
	display:none;
}

#logo{
	width:160px;height:45px;
	line-height:45px;
	display:block;
	position:absolute;
	color:#fff;
	overflow:hidden;
	font-size:24px;
	padding-left:15px;
	text-decoration:none;
}

#wrap{
	position:relative;
	width:100%;
	margin:0 auto 1.5em;
}

p.meta,
aside.article-meta{
	color:#666;
	font-size:.75em;
}
p.meta{
	padding:.3em 0;
}
aside.article-meta .avatar{
	float:right;
	margin:0 0 10px 10px;
}

div.entry .featured{
	padding:.5em 1em;
	margin:.5em 0;
	background:#f5f5c5;
	-moz-box-shadow:    inset 0 -1px 3px #ccc;
	-webkit-box-shadow: inset 0 -1px 3px #ccc;
	box-shadow:         inset 0 -1px 3px #ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

div.entry img{
	display:block;
}

div.entry .featured-img{
    margin:-1em -1.5em 1em;
}
div.entry .featured-img img{
    border-radius:5px 5px 0 0;
}

.aligncenter{
	margin:0 auto;
}
.alignleft{
	float:left;
	margin:0 10px 10px 0;
}
.alignright{
	margin:0 0 10px 10px;
	float:right;}

.gallery-item img{
	margin:0 auto;
}

.page-link{
	clear:both;
}

/* Comments */

#comments{
    margin-bottom:20px;
}
.comments{
    margin-bottom:20px;
}

.comments-inner{
    padding:20px;
}

h3#comments-title{
    margin-top:0;
}
.commentlist{
    margin-left:0;
    padding-left:0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.commentlist ul,
.commentlist ol{
    margin-left:0;
    padding-left:60px;
    list-style:none;
}

.commentlist li{
    position:relative;
    list-style:none;
    padding:20px 0;
}
.commentlist li .vcard{
    float:left;
}
.commentlist li .vcard img{
    border-radius:50px;
}
.commentlist li .text{
    padding-left:60px;
}
.commentlist li time{
    font-size:75%;
    color:#999;
}
.commentlist li .date .fn a{
    font-size:1em;
}
.commentlist li .date a{
    font-size:.75em;
    color:#999;
}
.commentlist li .date a:hover{
    text-decoration:none;
    color:#333;
}
.commentlist li:first-of-type{
    padding-top:0;
}
.commentlist li:last-of-type{
    padding-bottom:0;
}
.commentlist li.bypostauthor{
}
.commentlist li .clearfix{
}

.commentlist li ul.children{
    padding-top:20px;
}

.commentlist li .text ul,
.commentlist li .text ol{
    padding:1em 2em;
}
.commentlist li .text ul li{
    list-style-type:disc;
}
.commentlist li .text ol li{
    list-style-type:decimal;
}
.commentlist li .text li{
    padding:0;
}

h3#reply-title{
    margin-top:0;
}
.form-submit{
    display:none;
}
#commentform .form-group label img{
    border-radius:75px;
    margin-top:-7px;
}
#commentform .form-group:last-of-type{
    margin-bottom:0;
}

/* Editor */

div.field{
	display:-moz-box;
	display:-webkit-box;
	display:box;
	-moz-box-align: stretch;
	-webkit-box-align: stretch;
	box-align: stretch;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;

	width:100%;
	padding:.3em 0;
}

div.field h5{
	line-height:35px;
	height:35px;
	width:4em;
}
div.field textarea,
div.field input[type=text]{
	-moz-box-flex:1;
	-webkit-box-flex:1;
	box-flex:1;
	display:-moz-box;
	display:-webkit-box;
	display:box;
	margin-left:2em;
}
div.clear{
	clear:both;
}

aside .half{
	width:50%;
	float:left;
	margin:0;padding:0;
	overflow:hidden;
}
aside section{
	padding:0 .5em;
}
aside .half select,
aside .half img{
	max-width:100%;
}

.comment-nav{
	height:2.5em;
	line-height:2.5em;
}
.comment-nav .nav-previous{
	float:left;
}
.comment-nav .nav-next{
	float:right;
}

.wp-caption{
	text-align:center;
	max-width:100%;
	height:auto;
	font-style:italic;
}
.wp-caption-text{ text-align: center; }
.gallery-caption{ text-align: center; }
.sticky{}
.bypostauthor{
	border:1px dashed #aaa;
}


/* Responsive */

@media screen and (min-width: 700px)
{
	#wrap{ width:700px; }
	#nav nav{ width:700px; }
}
@media screen and (max-width: 1023px){
	.half{width:100%; }
}
@media screen and (min-width: 1024px){
	.half{ float:left; width:50%; }
}
@media screen and (max-width: 400px) {
	#comments ol li .vcard{ float:none; }
	#comments ol li .text{ margin-left:0; }
}

