@font-face {
	font-family: 'IcoMoon';
	src: url('fonts/IcoMoon.eot');
	src: url('fonts/IcoMoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/IcoMoon.svg#IcoMoon') format('svg'),
		url('fonts/IcoMoon.woff') format('woff'),
		url('fonts/IcoMoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
	font-size:.9em;
}
.icon-alone{
	text-indent:-9999px;
}
.icon-user:before {
	content: "\e000";
}
.icon-tag:before {
	content: "\e001";
}
.icon-calendar:before {
	content: "\e002";
}
.icon-comments:before {
	content: "\e003";
}
.icon-search:before {
	content: "\e004";
}
.icon-picture:before {
	content: "\e005";
}
.icon-home:before {
	content: "\e006";
}
.icon-heart:before {
	content: "\e007";
}
.icon-thumbs-up:before {
	content: "\e008";
}
.icon-thumbs-down:before {
	content: "\e009";
}
.icon-facebook:before {
	content: "\e00a";
}
.icon-twitter:before {
	content: "\e00b";
}
.icon-google-plus:before {
	content: "\e00c";
}
.icon-link:before {
	content: "\e00d";
}
.icon-star:before {
	content: "\e00e";
}
.icon-fire:before {
	content: "\e00f";
}
.icon-flag:before {
	content: "\e010";
}
.icon-loop:before {
	content: "\e011";
}
.icon-wordpress:before {
	content: "\e012";
}
.icon-pencil:before {
	content: "\e013";
}
.icon-play:before {
	content: "\e014";
}
.icon-clock:before {
	content: "\e015";
}
.icon-mail:before {
	content: "\e016";
}
.icon-location:before {
	content: "\e017";
}
.icon-locked:before {
	content: "\e018";
}
.icon-reply:before {
	content: "\e019";
}
